<div class="container">
    <div class="content">
        <h2>All Products</h2>
        <div class="grid-container">
            <div class="product-container" *ngFor="let product of products">
                <div 
                    class="photo" 
                    [style.background-image]="'url('+product.productPhoto+')'"
                ></div>
                <div class="details">
                    <h3><a [routerLink]="['/product-details', product.productId]">{{product.productName}}</a></h3>
                    <span id="price">{{product.productPrice | currency:'PHP'}}</span>
                    <span>{{getAvRating(product.productReview) | number:'1.1-1'}} stars ({{getRevCount(product.productReview)}} reviews)</span>
                </div>
            </div>
        </div>
    </div>
</div>
