nav {
  background-color: lightgray;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
}

.nav-link {
  text-decoration: none;
  color: #222222;
}

.vip, h1 {
  color: red;
  font-size: 20px;
}

input[type=text] {
  background-color: pink;
}