@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
	var selection = Umbraco.Content(Guid.Parse("86b292e2-e030-4316-a2f7-db456f5c7eb3"))
    .Children()
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url()">@item.Name()</a>
		</li>
	}
</ul>

