@model Operas.Data.Models.OperaEntity

@{
    var action = ViewData["Action"];
}

    <h3>@action Opera</h3>
    <form asp-controller="opera" asp-action="save" method="post">
        @Html.Hidden("action",action)
        <table border="0" cellpadding="2" cellspacing="2">
            @if (action != null && action.ToString().ToLower().Equals("edit"))
            {
                <input asp-for="Id" type="hidden" />
            } 
            else
            {
            
            }
            
            <tr>
                <td>Title</td>
                <td>
                    <input asp-for="Title" />
                </td>
                <td>
                    <span asp-validation-for="Title"></span>
                </td>
            </tr>
            <tr>
                <td>Year</td>
                <td>
                    <input asp-for="Year" type="number" />
                </td>
                <td>
                    <span asp-validation-for="Year"></span>
                </td>
            </tr>
            <tr>
                <td>Composer</td>
                <td>
                    <input asp-for="Composer" />
                </td>
                <td>
                    <span asp-validation-for="Composer"></span>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Save" />
                </td>
            </tr>
        </table>
    </form>

