<p>{{posts$|async|json}}</p>

  <!-- <div style="width: 400px; margin: auto;">
    <div class="submit-form">
      <div>
        <div class="form-group">
          <label for="title"><h2>Post</h2></label>
          <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <input
                    type="text"
                    class="form-control"
                    ngModel
                    required
                    [(ngModel)]="newPost.PostContent"
                    name="renderPost"
                    style="margin-bottom:14px"
                  />
                  <button (click)="postOnClick()" class="btn btn-success">Add Post</button>
          </form>
        </div> -->
        
        <!-- <div *ngFor="let post of postText" style="border-style: solid none none none; margin-top: 10px">
            <h3>{{post.renderPost}}</h3>
        </div> --> 