<p>{{products | json}}</p>
<p>{{products.length}}</p>
{{some()}}
<div *ngIf="products && products.length">
    <table class="table table-bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Actions</th>
          <th>Product Name</th>
          <th>Introduction Date</th>
          <th class="currency">Price</th>
          <th>URL</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>
          </td>
          <td>{{product.userId}}</td>      
        </tr>
      </tbody>
    </table>
  </div>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>