<p>{{posts$|async|json}}</p>

<!-- <ul>
    <li *ngFor="let post of posts">
        {{post.PostContent|async|json}}
    </li>
</ul> -->

<p style="padding: 10px 0 10px 0; border-style: none none solid none">
    {{numberOfLikes }}
    <button class="col btn btn-primary" (click)="likeButtonClick()">Like</button>
    {{numberOfComments}}
    Comments
</p> 
<p *ngFor="let comment of commentText" style="border-style: dashed; margin-top: 8px; padding: 10px">
    {{comment.renderComment}}
</p>
<div style="width: 400px; margin: auto;">
    <div class="submit-form">
        <div>
            <div class="form-group">
                <label for="title"><h2>Comment</h2></label>
                <form #f="ngForm" (ngSubmit)="onSubmitOfComment(f)" novalidate>
                    <input
                        type="text"
                        class="form-control"
                        ngModel
                        id="title"
                        required
                        [(ngModel)]="newComment.CommentContent"
                        name="renderComment"
                        style="margin-bottom:14px"
                    />
                    <button (click)="commentOnClick()" class="btn btn-success">Add Comment</button>
                </form>
            </div>   
        </div>  
    </div>  
</div>  
